@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap");

@layer base {
  * {
    outline: none;
  }
  html,
  body,
  #root {
    height: 100%;
    background-color: #fefefe;
    @apply transition-all duration-300 ease-in-out dark:bg-backdrop dark:text-white;
  }
  body {
    font-family: "Montserrat", sans-serif;
  }
}
.slick-slide > div {
  display: grid;
  place-items: center;
  width: 90%;
  margin: auto;
  padding: 0px;
}
